<div class="flip-card" (click)="flip($event)">
  <div class="flip-card-inner">
    <div class="card-front">
      <div>
        <img src="{{ dataUser.imgUrl }}" class="img" alt="" />
        <h5 class="name">{{ dataUser.name }}</h5>
      </div>
    </div>
    <div class="card-back">
      <h4>Description</h4>
      <ul class="">
        <li class="">{{ dataUser.name }}</li>
        <li class="">{{ dataUser.eyes }}</li>
        <li class="">{{ dataUser.mouth }}</li>
        <li class="">{{ dataUser.skin }}</li>
        <li class="">{{ dataUser.nose }}</li>
        <li class="">{{ dataUser.ear }}</li>
        <li class="">{{ dataUser.gender }}</li>
      </ul>
    </div>
  </div>
</div>
